 
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="~/Styles/assets/plugins/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap tether Core JavaScript -->
<script src="~/Styles/assets/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/Styles/js/app-style-switcher.js"></script>
<!--Wave Effects -->
<script src="~/Styles/js/waves.js"></script>
<!--Menu sidebar -->
<script src="~/Styles/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="~/Styles/js/custom.js"></script>
<!--This page JavaScript -->
<!--flot chart-->
<script src="~/Styles/assets/plugins/flot/jquery.flot.js"></script>
<script src="~/Styles/assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
<script src="~/Styles/js/pages/dashboards/dashboard1.js"></script>
</body>

</html>